<style>
    th, td {
        padding: 10px;
    }
    th {
        text-align: left;
    }
</style>

<h1>All News</h1>

{% if news is not empty %}
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Picture</th>
{#            <th>Date</th>#}
{#            <th>Picture</th>#}
        </tr>
        </thead>
        <tbody>
        {% for one_news in news %}
            <tr>
                <td><a href="{{ path('news_view', {id: one_news.id}) }}">{{ one_news.title }}</td>
                <td>{{ one_news.description }}</td>
{#                <td>{{ one_news.content | slice(0, 20) }}...</td>#}
{#                <td>{{ one_news.date|date('Y-m-d') }}</td>#}
                <td><img src={{ one_news.image }} /></td>
                <td><a href="/admin/news/delete/{{ one_news.id }}">Delete News</a></td>
                <td><a href="/admin/news/update/{{ one_news.id }}">Update News</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No news found.</p>
{% endif %}

<br/>
<a href="/admin/news/create">Create New</a>